.hidden {
    display: none;
}

.expanded {
    display: table-row;
}

/* Ensure icons are circular */
img.w-8.h-8 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    vertical-align: middle;
    border-radius: 50%; /* Ensures rounded edges */
}

/* Tooltip Styling */
.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 10;
}


span.group-hover:block {
    display: none;
} 

.group:hover span {
    display: inline-block;
}

span {
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    padding: 4px 6px;
    z-index: 10;
}

#settings-modal {
    z-index: 50; /* Ensures modal is above other content */
    position: fixed; /* Keeps the modal positioned correctly */
    inset: 0; /* Covers the entire viewport */
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
    display: flex;
    justify-content: center;
    align-items: center;
}

#settings-modal.hidden {
    display: none;
}

table {
    z-index: 10; /* Lower priority compared to modal */
    position: relative;
}